@use 'palette';
@use 'composition/index' as composition;
@use 'reset';
@use 'container';
@use 'components/index' as components;
@use 'fonts.scss';

.yara {
	@include fonts.main;
	@include reset.main;
	@include palette.main;
	@include composition.main;
	@include container.main;
	@include components.main;

	& {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
