@mixin main {
	.i-overlay-element {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.i-overlay-top-left {
		top: 0;
		left: 0;
	}
	.i-overlay-top-right {
		top: 0;
		right: 0;
	}
	.i-overlay-bottom {
		bottom: 0;
		left: 0;
	}
}
